block content
  h1 Atualização de dados
  form(action="/header/update", method="PUT")
    div.form-group
      label Titulo
      input(type="text" name="txtTitle").form-control
    div.form-group
      label Subtitulo
      input(type="text" name="txtSubtitle").form-control
    div.form-group
      label Logotipo
      input(type="text" name="txtLogo").form-control
    div.form-group
      button.btn.btn-success Atualizar      